<div class="main container d-flex justify-content-center align-items-center">
  <div class="main-content">
    <div *ngFor="let comment of Comments">
      <div
        class="comment"
        [ngStyle]="{
          'margin-bottom': comment.replies.length || currentReplyingTo ? '20px' : '0px',
        }"
      >
        <app-comment
          [username]="comment.user.username"
          [timeAgo]="comment.createdAt"
          [commentText]="comment.content"
          [replyCount]="comment.score"
          [avatarUrl]="comment.user.image.png"
          [isActive]="CurrentUser.username === comment.user.username"
          [commentId]="comment.id"
          (onDelete)="deleteComment(comment.id)"
          (onReply)="replyToComment(comment)"
          (onIncrement)="updateScore(comment.id, false, true)"
          (onDecrement)="updateScore(comment.id, false, false)"
        ></app-comment>
      </div>
      <div class="replies w-100">
        <div class="line"></div>
        <div class="reply-add-comment flex-column d-flex w-100">
          <div *ngIf="comment.replies.length > 0" class="reply-comment">
            <div *ngFor="let reply of comment.replies" class="reply w-100">
              <app-comment
                [username]="reply.user.username"
                [timeAgo]="reply.createdAt"
                [commentText]="reply.content"
                [replyCount]="reply.score"
                [avatarUrl]="reply.user.image.png"
                [isActive]="CurrentUser.username === reply.user.username"
                [commentId]="reply.id"
                (onDelete)="deleteComment(reply.id)"
                (onIncrement)="updateScore(comment.id, true, true, reply.id)"
                (onDecrement)="updateScore(comment.id, true, false, reply.id)"
              ></app-comment>
            </div>
          </div>
          <app-addcomment
            *ngIf="currentReplyingTo === comment"
            [image]="CurrentUser.image.png"
            [isReply]="true"
            (onSendReply)="sendReply($event)"
          ></app-addcomment>
        </div>
      </div>
    </div>
    <div *ngIf="CurrentUser.username">
      <app-addcomment
        [image]="CurrentUser.image.png"
        [isReply]="false"
        (onSendReply)="sendReply($event)"
      ></app-addcomment>
    </div>
  </div>
</div>
